html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: #185274;
    color:#fff;
}
footer {
    justify-content: center;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #3e80a7 on hover */
header nav ul li a:hover {
  background-color: #3e80a7;
  cursor: pointer;
}
main {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
}

main .content{
    position: absolute;
    z-index: 3;
    text-align: center;
    color: #fff;
}
main picture img{
	position: absolute;
	object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
}